-- Table: user

CREATE TABLE "user" (
	id UUID NOT NULL, 
	email VARCHAR NOT NULL, 
	hashed_password VARCHAR, 
	full_name VARCHAR, 
	google_id VARCHAR, 
	profile_image VARCHAR, 
	is_active BOOLEAN, 
	is_verified BOOLEAN, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
	updated_at TIMESTAMP WITH TIME ZONE, 
	otp_code VARCHAR, 
	otp_expires_at TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id)
)


;
-- Table: auditlog

CREATE TABLE auditlog (
	id UUID NOT NULL, 
	user_id UUID, 
	event_type VARCHAR, 
	action VARCHAR, 
	metadata_json JSON, 
	status VARCHAR, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id)
)


;
-- Table: jobanalysis

CREATE TABLE jobanalysis (
	id UUID NOT NULL, 
	user_id UUID NOT NULL, 
	company_name VARCHAR, 
	job_title VARCHAR NOT NULL, 
	raw_description TEXT NOT NULL, 
	parsed_requirements JSON, 
	analysis_results JSON, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id)
)


;
-- Table: profile

CREATE TABLE profile (
	id UUID NOT NULL, 
	user_id UUID NOT NULL, 
	headline VARCHAR, 
	summary TEXT, 
	phone VARCHAR, 
	location VARCHAR, 
	website VARCHAR, 
	social_links JSON, 
	skills JSON, 
	achievements JSON, 
	interests JSON, 
	languages JSON, 
	volunteer JSON, 
	extracurricular JSON, 
	recommendations JSON, 
	PRIMARY KEY (id), 
	UNIQUE (user_id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id)
)


;
-- Table: certification

CREATE TABLE certification (
	id SERIAL NOT NULL, 
	profile_id UUID, 
	name VARCHAR NOT NULL, 
	issuer VARCHAR NOT NULL, 
	issue_date DATE, 
	expiry_date DATE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(profile_id) REFERENCES profile (id)
)


;
-- Table: education

CREATE TABLE education (
	id SERIAL NOT NULL, 
	profile_id UUID, 
	institution VARCHAR NOT NULL, 
	degree VARCHAR NOT NULL, 
	field_of_study VARCHAR, 
	gpa FLOAT, 
	start_date DATE, 
	end_date DATE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(profile_id) REFERENCES profile (id)
)


;
-- Table: experience

CREATE TABLE experience (
	id SERIAL NOT NULL, 
	profile_id UUID, 
	company VARCHAR NOT NULL, 
	role VARCHAR NOT NULL, 
	location VARCHAR, 
	start_date DATE, 
	end_date DATE, 
	is_current BOOLEAN, 
	description TEXT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(profile_id) REFERENCES profile (id)
)


;
-- Table: profileversion

CREATE TABLE profileversion (
	id UUID NOT NULL, 
	profile_id UUID, 
	data JSON NOT NULL, 
	version_number INTEGER, 
	is_active BOOLEAN, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
	version_label VARCHAR, 
	PRIMARY KEY (id), 
	FOREIGN KEY(profile_id) REFERENCES profile (id)
)


;
-- Table: project

CREATE TABLE project (
	id SERIAL NOT NULL, 
	profile_id UUID, 
	title VARCHAR NOT NULL, 
	description TEXT, 
	link VARCHAR, 
	technologies JSON, 
	PRIMARY KEY (id), 
	FOREIGN KEY(profile_id) REFERENCES profile (id)
)


;
